# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="{{ pirogue_keyboard_model | default('pc105') }}"
XKBLAYOUT="{{ pirogue_keyboard_layout | default('fr') }}"
XKBVARIANT=""
XKBOPTIONS=""

BACKSPACE="guess"
